html {

  body {
    margin: 0;
    background-color: white;
    color: $charcoal;
    font-family: 'Rubik', sans-serif;

    // utility classes

    .width-fifty-percent {
      width: 50%;
    }

    .text-center {
      text-align: center;
    }

    .flex-container {
      @media (min-width: $flex-content-width) {
        display: flex;
        text-align: left;

        .flex-basis-forty-percent {
          flex-shrink: 0;
          flex-basis: 40%;
        }

        .flex-basis-fifty-percent {
          flex-shrink: 0;
          flex-basis: 50%;
        }

        &.reverse-flex {
          flex-direction: row-reverse;
        }
      }

      text-align: center;

      &.center {
        justify-content: center;
        align-items: center;
      }

      &.col {
        flex-direction: col;
      }
    }

    img {
      max-width: 100%;
    }

    h2 {
      font-size: 3em;

      @media (min-width: $desktop-large) {
        font-size: 4em;
      }
    }

    ul {
      list-style: none;
      padding: 0;
    }

    ul, p {
      @media (min-width: $tablet) {
        font-size: 1.3em;
      }
    }

    .max-width-container {
      margin: 0 auto;
      max-width: $desktop-small;

      @media (min-width: $desktop-large) {
        max-width: $desktop-large;
      }
    }

    .panel {
      min-height: 450px;
      padding: 12px;

      @media (min-width: $tablet) {
        padding: 60px 24px;
      }

      &.light-blue-bg {
        background-color: $lightblue;
        color: $charcoal;
      }

      &.blue-bg {
        background-color: $blue;
        color: white;
      }

      &.black-bg {
        color: white;
        background: black;
      }
    }

    .cta-button {
      display: inline-block;
      text-decoration: none;
      border-radius: 5px;
      padding: 20px;
      background-color: $blue;
      color: white;
      font-size: 2em;
      margin: 12px auto;
    }

  }
}
