// colours

$blue: #06486d;
$lightblue: #60C6CB;
$orange: #62bebc; // this is actually aqua. TODO: change var name
$charcoal: #262626;
$mauve: #d3bcb8;

// screen sizes

$desktop-large: 1700px;
$desktop-small: 1100px;
$flex-content-width: $desktop-small;
$tablet: 750px;
$phone: 400px;

